#container{
  margin: 0 auto;
}
#controls{
  display: inline;
}
.space{
  width: 80px;
  height: 80px;
}
.black{
  background-color: black;
}
.white{
  background-color: white;
}
.marmot-red{
  background-image: url('/assets/marmot-red.png');
  background-size: 60px;
  background-repeat: no-repeat;
  background-position: center;
}
.marmot-black{
  background-image: url('/assets/marmot-black.png');
  background-size: 60px;
  background-repeat: no-repeat;
  background-position: center;
}
.grizzly-red{
  background-image: url('/assets/grizzly-red.png');
  background-size: 60px;
  background-repeat: no-repeat;
  background-position: center;
}
.grizzly-black{
  background-image: url('/assets/grizzly-black.png');
  background-size: 60px;
  background-repeat: no-repeat;
  background-position: center;
}
.activeplayer{
    border: 2px red solid;
}
